/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

/*===== VARIABLES CSS =====*/
:root {
  /*===== Colors =====*/
  --white: #fff;
  --dark: #111;
  --darkGrey: #474b4f;
  --lightGrey: #6b6e70;
  --lightBlue: #4ba3c3;
  --transition: all 0.5s ease;
}

/*===== General Styles =====*/

*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--lightGrey);
  line-height: 1.6;
}

img {
  max-width: 100%;
  display: block;
}

ul li {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--dark);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 15px 0;
}

section {
  margin: 2.5em 0;
}

/*===== Utility Classes =====*/
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 90vw;
  margin: 0 auto;
}

.btn {
  display: block;
  width: 150px;
  text-align: center;
  background: var(--lightBlue);
  color: var(--white);
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 600;
  padding: 5px;
  border: 2px solid var(--lightBlue);
  outline: none;
  border-radius: 8px;
  margin: 15px 0;
  transition: var(--transition);
}
.btn:hover,
.btn:focus {
  color: var(--lightBlue);
  background: transparent;
}
.active {
  color: var(--lightBlue) !important;
}

/*******************************************
    Header and Main Navigation 
/*****************************************/

.header {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("https://images.pexels.com/photos/2335048/pexels-photo-2335048.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940")
      center/cover no-repeat;
  background-attachment: fixed;
  color: var(--white);
  padding-bottom: 30px;
}

.nav__link {
  color: var(--white);
}

.logo-and-hamburger {
  background: var(--dark);
  position: relative;
  z-index: 999;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  font-size: 24px;
  padding: 15px 25px;
  color: var(--white);
}

.logo {
  letter-spacing: 5px;
  cursor: pointer;
}

.hamburger {
  width: 40px;
  height: 40px;
  border: 1px solid var(--white);
  cursor: pointer;
}

.hamburger:hover {
  background: var(--white);
  color: var(--dark);
  transition: var(--transition);
}

.top-nav {
  background: var(--dark);
  transform: translateY(-600px);
  transition: var(--transition);
}
.showNav {
  transform: translateY(0);
}

.nav__item {
  padding: 0.625em 0;
}

.nav__link {
  position: relative;
  font-weight: 500;
  font-size: 1.125rem;
  text-align: center;
  display: block;
}

.nav__link::after {
  content: "";
  height: 2px;
  background: var(--lightBlue);
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  transition: var(--transition);
}

.nav__link:hover::after {
  width: 100px;
}

/***************************
        Hero Section
/***************************/

.intro {
  margin-top: -160px;
}
.intro-content img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
}
.intro-img {
  background: var(--white);
  width: 150px;
  height: 150px;
  margin: 0 auto;
  border-radius: 50%;
}
.intro-content h2 {
  font-size: 3.75rem;
  font-weight: 900;
  text-align: center;
  margin-bottom: 35px;
  line-height: 1.2;
  color: var(--white);
  text-shadow: 2px 2px 2px var(--dark);
}
.intro-content h3 {
  color: var(--white);
  font-size: 30px;
  font-weight: 100;
  background: rgba(255, 255, 255, 0.1);
  width: 400px;
  margin: 35px auto;
  text-align: center;
}

.second-word {
  color: var(--lightBlue);
  font-weight: 400;
}
.intro__description {
  font-size: 20px;
  font-weight: 300;
  opacity: 0.9;
  width: 80vw;
  margin: 45px auto 15px auto;
  text-align: justify;
}

.social-icons {
  width: 350px;
  margin: 40px auto 0 auto;
  padding-bottom: 30px;
}
.social-icons ul a {
  color: var(--white);
  font-size: 30px;
  display: block;
  width: 50px;
  height: 50px;
  border: 1px solid var(--white);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--transition);
}
.social-icons ul {
  display: flex;
  justify-content: space-around;
}
.social-icons ul a:hover {
  background: var(--lightBlue);
  border-color: var(--lightBlue);
}

/*******************************************
                 INDEX PAGE
/*****************************************/

/*===== ABOUT US =====*/
.section-one {
  min-height: 100vh;
}

.left-col {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)),
    url("https://images.pexels.com/photos/2781104/pexels-photo-2781104.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940")
      center/cover no-repeat;
  box-shadow: 0 0 14px -1px rgba(0, 0, 0, 0.75);
}
.left-col div {
  color: var(--white);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 1.875em;
}
.left-col div h3 {
  font-size: 1.75rem;
}

.left-col div p {
  font-weight: 300;
  text-shadow: 2px 2px 2px var(--dark);
}

.right-col h3 {
  color: var(--lightGrey);
}
.right-col > h3 {
  text-align: center;
}
.right-col p {
  opacity: 0.9;
  font-weight: 300;
  margin-bottom: 1.5em;
}
.company-info {
  margin: 3.125em 0;
}
.client-images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 1.25em;
}
.client-image-1 {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)),
    url("https://images.pexels.com/photos/1295995/pexels-photo-1295995.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940")
      center/cover no-repeat;
  height: 400px;
  transition: var(--transition);
}
.client-image-2 {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)),
    url("https://images.pexels.com/photos/2959195/pexels-photo-2959195.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940")
      center/cover no-repeat;
  height: 400px;
  transition: var(--transition);
}
.client-images .imgs:hover {
  box-shadow: 0 0 8px var(--dark);
}

/*===== Video Section =====*/
.video__title {
  font-weight: 300;
  font-size: 60px;
  line-height: 1.2;
  margin-bottom: 15px;
}

.showcase {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 20px;
  color: var(--white);
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: var(--lightBlue) url("../video/Wedding.mp4") no-repeat center
    center/cover;
}

.video-container video {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}

.video-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.content {
  z-index: 10;
}

.video__btn {
  display: inline-block;
  padding: 10px 30px;
  background: var(--primary-color);
  color: var(--white);
  border-radius: 5px;
  border: 2px solid var(--lightBlue);
  margin-top: 25px;
  opacity: 0.7;
}

.video__btn:hover {
  transform: scale(0.98);
}

/*===== Team Section =====*/

.team {
  margin: 3.5em 0 2.5em 0;
}
.team h2 {
  text-align: center;
  font-size: 2rem;
  font-weight: 900;
}
.team span {
  color: var(--darkGrey);
  text-align: center;
  display: block;
  font-size: 1.25rem;
  margin-bottom: 1.875em;
}
.insta-imgs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0.8em;
}
.insta-imgs > div {
  position: relative;
}
.icon-overlay {
  position: absolute;
  color: var(--white);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 50px;
  background: rgba(75, 163, 195, 0.4);
  opacity: 0;
  transition: var(--transition);
}
.insta-imgs > div:hover .icon-overlay {
  opacity: 1;
}

/*===== Footer Section =====*/

.footer {
  background: var(--dark);
  color: var(--white);
  padding: 2.5em 0;
  text-align: center;
}
.footer-container > div {
  margin: 2.5em 0;
}
.footer-container h2 {
  color: var(--lightBlue);
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 4px;
}
.footer-container p {
  opacity: 0.7;
}
.subs {
  background: var(--dark);
  width: 380px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.875em auto;
}
.subs i {
  font-size: 1.6rem;
  flex: 10%;
  display: block;
}
.subs input {
  flex: 60%;
  background: transparent;
  border: none;
  font-size: 1rem;
  padding: 0.8em 0.5em;
  outline: 0;
  color: var(--white);
}
.subs button {
  flex: 30%;
  font-size: 1rem;
  padding: 0.8em 0;
  font-weight: bold;
  background: var(--lightBlue);
  border: none;
  transition: var(--transition);
  cursor: pointer;
}
.subs button:hover {
  color: var(--white);
}
.footer > p {
  text-align: center;
  font-size: 0.875rem;
}

/*******************************************
                 Gallery PAGE
/*****************************************/
.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

a {
  cursor: pointer;
}

.gallery__item {
  margin-bottom: 1em;
}

.gallery__item img:hover {
  box-shadow: 0 0 8px var(--dark);
  transition: var(--transition);
}

.gallery__item--1 {
  grid-area: img-1;
}

.gallery__item--2 {
  grid-area: img-2;
}

.gallery__item--3 {
  grid-area: img-3;
}

.gallery__item--4 {
  grid-area: img-4;
}

.gallery__item--5 {
  grid-area: img-5;
}

.gallery__item--6 {
  grid-area: img-6;
}

.gallery__item--7 {
  grid-area: img-7;
}

.gallery__item--8 {
  grid-area: img-8;
}

/*******************************************
                   Blog PAGE
/*****************************************/

.blog .content {
  display: grid;
  grid-template-columns: auto;
  padding: 1rem 1rem 0 1rem;
  gap: 1rem;
}

.content .col {
  width: 100%;
  padding-top: 1rem;
  margin-bottom: 0.5rem;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
}

.content .col .mega-links {
  border-left: 0px;
  padding-left: 1rem;
}

.content .col .img-wrapper {
  display: block;
  position: relative;
  overflow: hidden;
}

.content .col img {
  width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
  transition: transform 0.3s ease-in-out;
}

.content .col .img-wrapper:hover img {
  transform: scale(1.1);
}
.content .col h2 {
  color: var(--lightBlue);
  font-size: 1.2rem;
  line-height: 3rem;
  font-weight: bold;
}
.content .col p {
  line-height: 1.2rem;
}
.content .col .mega-links {
  border-left: 1px solid #1a3246;
}
.content .col .read-more {
  display: inline-block;
  padding-top: 1rem;
  color: var(--lightBlue);
  transition: color 0.3s ease;
}

.content .col .read-more:hover {
  color: var(--lightGrey);
}

/*******************************************
              CONTACT PAGE
/*****************************************/

.contact-us {
  margin: 40px 0;
}
.contact-us .container div {
  margin: 20px 0;
}
.contact-top {
  text-align: center;
}
.contact-top h3 {
  font-size: 28px;
}
.contact-top p {
  font-weight: 300;
  width: 70%;
  margin: 0 auto;
}
.contact-middle div {
  text-align: center;
  padding: 25px 0;
  background: var(--lightBlue);
  color: var(--white);
}

.contact-middle div:hover {
  background: var(--dark);
  color: var(--white);
}

.contact-middle div span {
  display: block;
}
.contact-icon {
  font-size: 30px;
}
.contact-middle div span:nth-child(2) {
  font-size: 18px;
  font-weight: bold;
}
.contact-middle div p {
  font-weight: 300;
  opacity: 0.7;
}
.contact-bottom {
  margin-top: 50px !important;
}
.form input[type="text"],
.form input[type="email"],
.form textarea {
  width: 100%;
  font-size: 16px;
  padding: 10px 15px;
  margin: 10px 0;
  border: 1px solid var(--lightBlue);
  outline: none;
  border-radius: 5px;
}
.contact-bottom .form {
  padding: 0 20px;
}

/*******************************************
              MEDIA QUERIES
/*****************************************/

@media screen and (min-width: 600px) {
  /*===== Gallery =====*/
  .gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 1.5em;
    grid-template-areas:
      "img-1 img-1 img-2 img-2"
      "img-1 img-1 img-3 img-3"
      "img-4 img-4 img-5 img-5"
      "img-6 img-7 img-7 img-7"
      "img-8 img-8 img-8 img-8";
  }
  .gallery__item {
    margin-bottom: 0;
  }

  /*===== Blog =====*/
  .blog .content {
    grid-template-columns: repeat(2, 1fr);
  }

  /*===== Contact us =====*/
  .contact-middle {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
  }
}

@media screen and (min-width: 800px) {
  .nav-section {
    display: flex;
    justify-content: space-between;
  }
  .hamburger {
    display: none;
  }
  .logo-and-hamburger {
    flex: 0 0 10%;
    background: none;
  }
  .top-nav {
    flex: 0 1 80%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    transition: transform 0s ease;
    transform: translateY(0);
    background: transparent;
  }
  .nav__list {
    display: flex;
  }
  .nav__item {
    margin-right: 3.75em;
  }
  .intro {
    margin-top: 0;
  }
  .intro__description {
    width: 60vw;
    text-align: center;
  }

  /*===== About us =====*/
  .about-us .row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 3.125em;
  }
  .left-col {
    align-self: center;
    height: 100%;
  }
  .company-info {
    margin-top: 0;
  }

  /*===== Team =====*/
  .insta-imgs {
    grid-template-columns: repeat(4, 1fr);
  }

  /*===== Footer =====*/
  .footer-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.25em;
  }

  .footer-container > div {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 900px) {
  /*===== Gallery =====*/
  .gallery {
    grid-template-areas:
      "img-1 img-2 img-3 img-3"
      "img-1 img-4 img-5 img-6"
      "img-7 img-7 img-8 img-6";
  }

  /*===== Blog =====*/
  .blog .content {
    grid-template-columns: repeat(3, 1fr);
  }

  /*===== contact us=====*/
  .contact-middle {
    grid-template-columns: repeat(4, 1fr);
  }
  .contact-bottom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 40px;
  }
}
